header {
  background-color: rgb(255, 255, 255);
  color: rgb(49, 102, 72);
  text-align: center;
  font-family: Helvetica;
}

body {
  background-color: rgb(255, 255, 255);
}

img {
  width: 100%;
  height: auto;
  filter: saturate(0);
}

a:hover img {
  filter: saturate(1);
}

.container {
  position: relative;
  float: left;
  width: 33%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-family: Helvetica;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
